* {
  --orange-color: #ffa000;
  --orange-lighter: #ffba00;
  --blue-color: #005fff;
  --blue-secondary: #80afff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.ml-auto .btn-light:hover {
  background-color: var(--orange-color);
}
.navbar {
  padding: 0.5rem 1rem;
  height: 75px;
}

.two-lines {
  display: inline-block;
  height: 2.65rem;
}

.navbar-brand {
  text-transform: none;
  font-size: 2rem;
}
.navbar-dark .navbar-brand {
  transition: all 0.4s ease-in-out;
  width: 200px;
}
.navbar-dark .navbar-brand:hover {
  color: var(--orange-color);
  font-size: 2.2rem;
}
/* .card-img-top {
  padding: 0rem 0.4rem;
}
.card-img-top:hover {
  padding: 0;
} */
.fa-star,
.fa-star-half-alt {
  color: var(--orange-color);
}
.flex-sort {
  display: flex;
  justify-content: flex-end;
}
.fa-th,
.fa-th-large {
  padding: 0.4rem 2rem;
  align-self: center;
  margin-right: 2rem;
  color: var(--orange-color);
  cursor: pointer;
  background-color: #fff;
  border-color: #fff;
  height: 50px;
}
.fa-th:hover,
.fa-th-large:hover {
  background-color: #e6e6e6;
  border-color: #dfdfdf;
}
.fa-filter {
  color: var(--orange-color);
  font-size: 2rem;
}
#dropdown-variants-primary.btn {
  padding-left: 2rem;
  padding-right: 2rem;
  height: 50px;
}

.dropdown-menu {
  font-size: 1.8rem;
  text-align: center;
}
.fa-dollar-sign {
  color: #00836d;
  font-size: 2.2rem;
}
.dropdown-menu {
  border: 1px solid var(--orange-lighter);
  border-radius: 5px;
}

h3 {
  margin-top: 1rem;
  text-transform: none;
  letter-spacing: 1px;
  font-weight: 500;
}
.desc {
  margin-top: 1rem;
  text-transform: none;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1.25rem;
}

/* .bottom {
  position: absolute;
  bottom: 1rem;
  width: 90%;
} */
/* 
.left {
  width: 40%;
  left: -1rem;
  top: -1rem;
}

.right {
  position: absolute;
  width: 40%;
  right: -1rem;
  top: -1rem;
} */
.item-counter {
  text-align: center;
  margin: auto;
  padding: 1rem;
  height: 5rem;
  border: 1px solid #ccc;
  background-color: #eee;
  padding-top: 22%;
}

.btn-primary.orange {
  background-color: var(--orange-lighter);
  color: black;
  font-size: 2rem;
}

.flex-spread {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}
