* {
  --primary-color: #2c3e50;
  --orange-color: #ffa000;
  --orange-lighter: #ffba00;
  --orange-lightest: #ffd562;
  --blue-color: #005fff;
  --blue-secondary: #80afff;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}
.dropdown-item {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
}

body {
  margin: 0;
  font-family: "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: #000;
}

a:hover {
  text-decoration: dashed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.ml-auto .btn-light:hover {
  background-color: var(--orange-color);
}
.navbar {
  padding: 0.5rem 1rem;
  min-height: 70px;
}

.two-lines {
  display: inline-block;
  height: 2.65rem;
}

.navbar-brand {
  line-height: 2.1rem;
  text-transform: none;
  font-size: 2rem;
}
.navbar-dark .navbar-brand {
  transition: all 0.4s;
  /* width: 150px; */
}
.hide.navbar-toggler {
  display: none;
}
.navbar-dark .navbar-brand:hover {
  color: var(--orange-color);
  font-size: 2.1rem;
}
.sort-span {
  font-size: 1.25rem;
}
.card {
  /* transition: all 0.4s ease-in; */
  border: 1px solid var(--orange-lighter);
  /* outline: 0px solid var(--orange-color); */
}
.card.border-hover {
  transition: all 0.1s ease-in;
}
.card.border-hover:hover {
  box-shadow: 0 0 3px 1px var(--orange-color);
  /* outline: 1px solid var(--orange-color) !important; */
}
.fa-star,
.fa-star-half-alt {
  font-size: 1rem;
  color: var(--orange-color);
}
.dropdown-item .fa-star {
  font-size: 1.2rem;
}
.flex-sort {
  display: flex;
  justify-content: space-between;
}

#dropdown-variants-primary.btn:focus {
  box-shadow: none;
}
.fa-th,
.fa-th-large {
  /* padding: 0.4rem 3.7rem 0.4rem 1rem; */
  padding: 0.6rem 0 0.4rem 2rem;
  align-self: center;
  /* margin-right: 0rem; */
  color: var(--orange-color);
  cursor: pointer;
  background-color: #fff;
  border-color: #fff;
  height: 50px;
}
/* .fa-th:hover,
.fa-th-large:hover {
  background-color: #e6e6e6;
  border-color: #dfdfdf;
} */
.fa-filter {
  padding: 0.5rem 0;
  color: var(--orange-color);
  font-size: 2.1rem;
}
#dropdown-variants-primary.btn {
  padding-left: 1rem;
  padding-right: 1rem;
  height: 50px;
}

.dropdown-menu {
  font-size: 1.8rem;
  text-align: center;
}
.fa-dollar-sign {
  color: #00836d !important;
  font-size: 1.25rem;
}
.dropdown-menu {
  border: 1px solid var(--orange-lighter);
  border-radius: 5px;
}

h3 {
  margin-top: 0.5rem;
  text-transform: none;
  letter-spacing: 1px;
  font-weight: 500;
}
.desc {
  margin-top: 1rem;
  text-transform: none;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1rem;
}

/* .bottom {
  position: absolute;
  bottom: 1rem;
  width: 90%;
} */
/* 
.left {
  width: 40%;
  left: -1rem;
  top: -1rem;
}

.right {
  position: absolute;
  width: 40%;
  right: -1rem;
  top: -1rem;
} */
strong {
  font-weight: 900;
}
.item-counter {
  text-align: center;
  margin: auto;
  padding: 0rem 0rem;
  height: 4rem;
  border: 1px solid #ccc;
  background-color: #eee;
  /* line-height: calc(height); */
  width: 100%;
  min-width: 30px;
  /* margin-left: 10%; */
  font-size: 2rem;
}

.proceed:hover {
  color: var(--orange-lighter);
}

.btn-primary.orange {
  padding-left: 10px !important;
  padding-right: 10px;
  background-color: var(--orange-lighter);
  color: black;
  /* font-size: 10rem; */
  line-height: 1rem;
  width: 100%;
  min-width: 33px;
}
.btn-primary.bigger {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.btn-primary.orange:hover {
  background-color: var(--orange-color);
}

.flex-spread {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.fas.fa-times:hover {
  background-color: #ddd;
  color: var(--orange-color);
}
.hover-orange {
  transition: color 0.3s ease !important;
}

.hover-orange:hover {
  color: var(--orange-color) !important;
}
#basic-nav-dropdown:hover {
  color: var(--orange-color) !important;
}
.dropdown-item:hover {
  color: var(--orange-color) !important;
}
.dropdown-item {
  color: #2c3e50;
}
.dropdown-item.text-primary {
  color: var(--orange-color) !important;
}
.btn.btn-primary {
  border: var(--orange-color) 1px solid;
}

.btn.btn-primary:hover {
  border: var(--orange-color) 1px solid;
}
.pl-0.pr-4.col-lg-2.col-6.order-lg-3.order-4 {
  width: 10%;
}

.card-text span {
  font-size: 1.15rem;
}

.payment-method {
  width: 100%;
  height: 100px;
  border: 1px solid #999;
  border-radius: 5px;
  transition: all 0.3s;
}

.payment-method:hover {
  box-shadow: inset 0 0 10px var(--orange-color);
  /* background-color: #eee; */
}
.orange-border-hover:hover {
  border: 1px solid var(--orange-color);
}

.payment-method.active {
  box-shadow: inset 0 0 10px var(--orange-color);
  background-color: #f4f4f4;
}
.payment-method h1 {
  text-align: center;
}

.fas.fa-chevron-right,
.fas.fa-chevron-left {
  color: var(--orange-color);
  width: 1.24rem;
}

.fas.fa-times {
  color: var(--orange-lighter);
  font-size: 1.25rem;
  cursor: pointer;
  background-color: #eee;
  padding: 0.6rem 0.75rem;
  border: 1px solid #bbb;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  width: 2.5rem;
}

.fas.fa-trash {
  transition: all 0.15s ease-in;
}

.fas.fa-trash:hover {
  color: #e74c3c;
}

@media (max-width: 1000px) {
  .border-right {
    border-right: none !important;
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.far.fa-edit:hover {
  color: var(--orange-color) !important;
}
.fas.fa-trash {
  padding-top: 1px !important;
}

.custom-control,
.customswitch {
  transform: scale(1.5) !important;
  padding-top: 0.5rem;
  padding-left: 2.8rem;
}

.add-new {
  display: flex;
  /* justify-content: center; */
  /* justify-content: end; */
}

/* .add-new .btn.btn-primary {
  margin-left: auto;
} */
.category-elem {
  transition: all 0.2s;
  cursor: default;
}
.category-elem:hover {
  background-color: #eee;
}
.orange-font.fas.fa-fingerprint,
.orange-font {
  /* display: none !important; */
  transition: all 1s ease;
  color: var(--orange-color);
}

.grey-font {
  color: #aaa !important;
}

.pointer {
  cursor: pointer !important;
}

.card {
  border: none !important;
}

.card-img-top.px-1 {
  transition: all 0.15s ease-in-out;
}

.card-img-top.px-1:hover {
  padding: 0 !important;
}
.page {
  padding: 1.5rem;
  padding-bottom: 3rem;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-align: center;
  margin: 0.25rem;
  margin-bottom: 2rem;
  background-color: #eee;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 70px;
}
.pagination-lg .page-link {
  padding: 1.5rem;
  border-radius: 0px;
  font-size: 1.4rem;
  border: 1px solid #eee;
}
.page-link {
  /* padding: 2.5rem; */
  background-color: #ddd;
  color: black;
  cursor: auto;
  border-radius: 5px !important;
  margin: 0 0.4rem;
  cursor: pointer !important;
}
.page-item.active .page-link {
  background-color: var(--orange-color) !important;
  color: black;
  cursor: default !important;
}
.page-item.disabled .page-link {
  background-color: white;
  border: 1px solid #ddd;
  color: black;
  cursor: auto;
}
.page-item .page-link:hover {
  background-color: var(--orange-lighter);
  border: 1px solid #ddd;
  color: black;
  cursor: auto;
}
.page.act:hover {
  background-color: var(--primary-color) !important;
}
.page:hover {
  background-color: #aaa;
}
.page.disabled {
  color: #bbb;
}
.page.disabled:hover {
  background-color: #eee;
  cursor: auto;
}
.flex-center {
  margin: auto;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.cart-current {
  font-size: 1.3rem;
  /* padding: 1rem;
  margin: 1rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px var(--orange-color) solid; */
}
.category-elem.pointer {
  display: flex;
  justify-content: space-between;
}

.flex-spread-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.margin-small {
  margin-top: 1rem;
}
.text-white {
  color: #fff;
}

.react-icons {
  vertical-align: sub;
  padding-bottom: 0.1rem;
}
.day-picker {
  font-size: 1.1rem;
}
.react-date-picker__wrapper {
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
}
.react-calendar {
  padding: 1rem;
  border-radius: 5px;
}
.react-calendar__navigation {
  border-bottom: 1px var(--orange-color) solid;
}
.react-calendar__tile--now {
  background-color: var(--orange-lightest) !important;
}
.react-calendar__month-view__days__day--weekend {
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .border-left {
    border-left: none !important;
  }
  /* .navbar {
    padding: 0;
    margin: 0;
  } */

  .container {
    padding-right: 0;
    padding-left: 0;
    margin: auto;
  }
}
@media only screen and (max-width: 568px) {
  .navbar-dark .navbar-brand {
    font-size: 1.3rem;
  }
  .navbar-dark .navbar-brand:hover {
    font-size: 1.3rem;
  }
  .border-left {
    border-left: none !important;
  }
  .nav-link {
    padding: 0;
  }
}

.react-calendar__navigation__label__labelText {
  font-weight: 600;
  font-size: 1.15rem;
}
